[Desktop Entry]
Name=Income Expense Budget Planner
Comment=Input and keep track your money related activities like income, expense, transfer money
Exec=income-expense-budget-plan
Icon=${SNAP}/meta/gui/income-expense-budget-plan.png # Replace name with your app name.
Terminal=false
Type=Application
Categories=Tools; # Adjust accordingly your snap category.